@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

/*Intro page for manin site- desinged to draw the visitor into the experience*/

/*page is desinged with a stepdown in font sizes for smaller screens*/

body {
    background-color: black;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    background: url(../images/stars.png);
    background-position: center;
    background-size:initial;
    background-repeat: repeat;
    
}


.font-style{
    z-index: 10;
    text-align: center;
    color: rgba(0,0,0,0);
    font-size: 3rem;
}

@media screen and (max-width:1000px) {
    .font-style{
        font-size: 1rem ;
    } 
}

a{color: inherit;}

.skippy{
    position: absolute;
    width: 100vw;
    bottom: 5vh;
    z-index: 300;
    display: block;
}
.skippy > a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: 100vw;
    text-align: center;
}





.planet-div {
    
    position: absolute;
    background: url(../images/mars-intro-1000.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(0 0 5vw #DF6C24);
    width: 90vw;
    height: 90vh;
    margin-left:5vw;
    margin-right:5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    z-index: 5;
    top: 0;
    animation-name: planet-zoom;
    animation-delay: 6s;
    animation-duration: 12s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}


.text-in-1{
    position: absolute;
    top: 45vh;
    display: block;
    width: 100vw;
    text-align: center;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-name: text-fade-in-out;
    animation-fill-mode: forwards;

}

.text-in-2{
    position: absolute;
    display: block;
    width: 100vw;
    top: 45vh;
    text-align: center;
    animation-delay: 5s;
    animation-duration: 4s;
    animation-name: text-fade-in-out;
    animation-fill-mode: forwards;
}

.text-in-3{
    position: absolute;
    top: 45vh;
    display: block;
    width: 100vw;
    text-align: center;
    animation-delay: 9s;
    animation-duration: 4s;
    animation-name: text-fade-in-out;
    animation-fill-mode: forwards;
    
}

.text-in-4{
    position: absolute;
    top: 45vh;
    display: block;
    width: 100vw;
    text-align: center;
    animation-delay: 13s;
    animation-duration: 4s;
    animation-name: text-fade-in-out;
    animation-fill-mode: forwards;
    z-index: 10;
    text-align: center;
    color: rgba(0,0,0,0);
    font-size: 4rem;
}

@media screen and (max-width:1000px) {

    .text-in-4{
        font-size: 2rem;
    }

}

.text-in-5{
    position: absolute;
    top: 60vh;
    text-align: center;
    display: block;
    width: 70vw;
    left:15vw;
    z-index: 10;
    text-align: center;
    color: rgba(0,0,0,0);
    font-size: 2rem;
    animation-delay: 20s;
    animation-duration: 4s;
    animation-name: text-fade-in;
    animation-fill-mode: forwards;
    
}



#logo-text{
    text-align: center;
    color: rgba(0,0,0,0);
    text-shadow: .02em .02em rgba(112, 112, 112, 0);
    font-size: 6rem;
    z-index: 10;
    position: absolute;
    top: 35vh;
    width: 100vw;
    animation-delay: 17s;
    animation-duration: 4s;
    animation-name: logo-fade-in;
    animation-fill-mode: both;
}

.logo-globe{
    background: transparent;
    font-size: 6.5rem;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    animation-delay: 17s;
    animation-duration: 4s;
    animation-name: globe-fade-in;
    animation-fill-mode: both;
}

.logo-globe-spin{
    
    background: transparent;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    font-size: 6.5rem;
    animation-delay: 17s;
    animation-name: spinny;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode:forwards

}



@media screen and (max-width:1000px) {
    
    .text-in-5{
        position: absolute;
        top: 50vh;
        text-align: center;
        z-index: 10;
        color: rgba(0,0,0,0);
        font-size: 1rem;
        width: 80vw;
        left:10vw;
        animation-delay: 20s;
        animation-duration: 4s;
        animation-name: text-fade-in;
        animation-fill-mode: forwards;
    }

    #logo-text{
        text-align: center;
        color: rgba(0,0,0,0);
        text-shadow: .02em .02em rgba(0, 0, 0, 0);
        font-size: 2rem;
        z-index: 10;
        position: absolute;
        top: 40vh;
        width: 100vw;
        animation-delay: 17s;
        animation-duration: 6s;
        animation-name: logo-fade-in;
        animation-fill-mode: both;
    }
    
    .logo-globe{
        background: transparent;
        font-size: 2.3rem;
        color: rgba(0,0,0,0);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
        animation-delay: 17s;
        animation-duration: 6s;
        animation-name: globe-fade-in;
        animation-fill-mode: both;
    }
    
    .logo-globe-spin{
        
        background: transparent;
        color: rgba(0,0,0,0);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
        font-size: 2.3rem;
        animation-delay: 18s;
        animation-name: spinny;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        animation-fill-mode:none
    
    }
}

/* fade in of rocket icon link*/

.text-in-6{
    position:absolute;
    top: 70vh;
    /* display: block; */
    left: calc(50vw - 2rem);
    transform:rotate(-45deg); /*rotating icon to point upwards */
    z-index: 10;
    color: rgba(0,0,0,0);
    font-size: 4rem;
    animation-delay: 24s;
    animation-duration: 6s;
    animation-name: rocket-fade-in;
    animation-fill-mode: forwards;
    
}

@media screen and (max-width:1000px) {
    .text-in-6{
    position: absolute;
    top: 60vh;
    left: calc(50vw - 2rem);
    /* display: block; */
    width: auto;
    transform:rotate(-45deg); /* rotating icon to point upwards */
    z-index: 10;
    color: rgba(0,0,0,0);
    font-size: 4rem;
    animation-delay: 24s;
    animation-duration: 6s;
    animation-name: rocket-fade-in;
    animation-fill-mode: both;
    }

}

.flashy
{
    animation-name: rocket-flash;
    animation-delay: 24s;
    animation-duration: 1s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
}

@keyframes rocket-flash {
    from {
        text-shadow: 0 0 1rem rgba(255, 255, 255,0);
        
    }
    
    to {
        text-shadow: 0 0 1rem rgba(243, 119, 4, 1);
    }

}


@keyframes planet-zoom {
    from {
        transform: scale(0);
        opacity: 1;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes text-fade-in-out{
    from{
        color: rgba(255, 255, 255, 0);
        text-shadow: .02em .02em rgba(112, 112, 112, 0);
    }
    50% {
        color: rgba(255, 255, 255, 1);
        text-shadow: .02em .02em rgba(112, 112, 112, 1);
    }
    to {
        color: rgba(255, 255, 255, 0);
        text-shadow: .02em .02em rgba(112, 112, 112, 0);
    }
}

@keyframes text-fade-in{
    from{
        color: rgba(255, 255, 255, 0);
        text-shadow: .02em .02em rgba(112, 112, 112, 0);
    }
    to {
        color: rgba(255, 255, 255, 1);
        text-shadow: .02em .02em rgba(112, 112, 112, 1);
    }
}

@keyframes logo-fade-in{
    from{
        color: rgba(255, 255, 255, 0);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    }
    to {
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    }
}

@keyframes rocket-fade-in{
    from{
        color: rgba(255, 255, 255, 0);
    }
    to {
        color: rgba(255, 255, 255, 1);
    }
}
@keyframes globe-fade-in{
    from{
        color: rgba(255, 255, 255, 0);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    }
    to {
        color: rgba(223, 108, 36, 1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    }

    
}
/*spin logo globe icon*/

@keyframes spinny{
    from{
        transform: rotate3d(0, 1, 0, 0deg);
        color: rgba(223, 108, 36, 1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    }
    to{
        transform: rotate3d(0, 1, 0, 180deg);
        color: rgba(223, 108, 36, 1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 1); 
    }
}
