/* styles for compact displays such as mobile and smaller tablets */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

* {
   margin:0;
   /* box-sizing: border-box; */
}

body{
    
    font-family: 'Exo 2', sans-serif;
    background-color: black;
    /*hide overflow on x axis that show up due to transfomr animations*/
    overflow-x: hidden;
}

/* Core mars font color*/
.font-color{
    color: #DF6C24;
}

.center-text{
    text-align: center;
}

.center-div{
    margin: 0 auto;
}

/* div than encompases entire page which alows for fading in*/

.full-page-div{
    width: 100vw;
    height:100vh;
    animation-name: body-fade;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    /* background-color: black; */
    background: url(../images/stars.png);
    background-position: center;
    background-size:auto;
    background-repeat: repeat;

}

/* simple gradiant for header */
.main-heading{
    background: linear-gradient(180deg, rgba(62,146,204,1) 0%, rgba(0,0,0,0) 100%);
    height:5vh;
}


h1{
    display: inline;
    margin: auto 0;
    padding-left: .5rem;
    line-height: 5vh;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    text-shadow: rgb(0, 0, 0) .1rem .1rem;
}

.logo-globe{
    color: #DF6C24;
    text-shadow: rgb(255, 166, 0) 0 0 .1rem;
    background: transparent;
    font-size: 1.8rem;
}

a{
    /* visibility: hidden; */
    text-decoration: none;
    color: white;
    padding-right: 2vw;

}

a:hover {
    /* visibility: hidden; */
    /* border-bottom:1px solid #DF6C24; */
    text-shadow: 0 0 1rem #ffffff;
    color:#ffffff;

}


h2{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    width: inherit;
    text-align: center;
}



.logo-globe-spin{
    animation-name: spinny;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}


/* Simple 3d rotate on x axis of globe icon */

@keyframes spinny{
    from{
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to{
        transform: rotate3d(0, 1, 0, 180deg); 
    }
}

/* fade for the entire page */

@keyframes body-fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*Animation to slide in element from off screen right*/

@keyframes slide-in-right{
    from{
        transform: translateX(-100vw);
    }
    to{
        transform:unset;
    }
}

/*Animation to slide in element from off screen left*/

@keyframes slide-in-left{
    from{
        transform: translateX(+100vw);
    }
    to{
        transform:unset;
    }
}

/* nav{
    display: block;
    background: transparent;
    float: right;
} */

/* ul{
    list-style-type:none;
    background: inherit;
    margin: 0;
    padding: 0;
    color: white;
    padding-right: 1rem;
    line-height: 5vh;
    visibility: hidden;
} */

/* li{
    display: none;
    background: inherit;
    font-size: 1rem;
    letter-spacing: .1rem;
    padding: .5rem;
    
} */

.mission-overview{
    animation-name: slide-in-right;
    animation-duration: 3s;
    /* animation-delay: 3s; */
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    /* border-radius: 1vw; */
    /* padding: 1vw; */
    display: block;
    padding-left: 5vw;
    padding-right: 5vw;
    
    /* float: left; */
    /* margin: 1vw auto; */
    /* width:100vw;
    height: 100%;   */
    
}

/*class to apply simple flex to align content of div for larger displays*/

/* .flex-helper{
    height: inherit;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-items: center;
    justify-content:center;
    align-content:center;
} */

.mission-overview p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: left; 
}

.mission-image-container{
    animation-name: slide-in-left;
    animation-duration: 3s;
    /* animation-delay: 3s; */
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    width:90vw;
    padding: 5vw;
    height: fit-content;   
}

.mission-image{
    margin: 0 auto;
    width: 90vw;
    height:90vw;
    background-image: url(../images/inspire.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

/* simple page divider that clears floating */
.page-splitter{

    visibility: hidden;
    width: 100vw;
    height: 5vh;
    clear: both;
    /* background-color: rgba(62,146,204,.2); */

}

.founder-message{
    
    animation-name: slide-in-left;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    display: block;
    padding: 5vw;
}

.founder-message p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: left; 
}



.founder-image-container{
    animation-name: slide-in-right;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    display: block;
    width: 90vw;
    padding: 5vw;
    height: fit-content;   
}

.founder-image{
    /* margin: 0 auto; */
    width: 45vw;
    height:45vw;
    display: inline;
    float: left; 
    background-image: url(../images/founder-trans-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.starseed-logo{
    /* margin: 0 auto; */
    width: 45vw;
    height: 45vw;
    display: inline;
    float: right;
    background-image: url(../images/starseed2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.founder-title{
    font-style: italic;
    font-size: .5rem;
    text-align: center;
    color: rgb(255, 255, 255);
}


/* TESTING BURGER MENU*/

/* .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    color: #FFF;
    height: 50px;
    padding: 1em;
  } */

  .top-nav{

    display: inline;
    float: right;
    height: 5vh;
    padding-right: 5vw;
  }

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
  
    .menu {
      position: absolute;
      z-index: 200;
      top: 0;
      margin-top: 50px;
      right: 1vw;
      flex-direction: column;
      width: 90vw;
      justify-content: center;
      align-items: center;
    }
  
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    .menu > li {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding-right: 20vw;
      width: 100%;
      color: white;
      background: linear-gradient(270deg, rgba(223,108,36,0) 0%, rgba(196,95,32,1) 5%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
    }
  
  }
