@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

* {
   margin:0;
}

body{
    
    font-family: 'Exo 2', sans-serif;
    background-color: black;
    /*hide overflow on x axis that show up due to transfomr animations*/
    overflow-x: hidden;
}

/*hide elements related to compact nav menu*/

#menu-toggle{visibility: hidden;}
.menu-button-container{visibility: hidden;}
.menu-button{visibility: hidden;}

/* Core mars font color*/
.font-color{
    color: #DF6C24;
}

.center-text{
    text-align: center;
}

.center-div{
    margin: 0 auto;
}

/* div than encompases entire page which alows for fading in*/

.full-page-div{
    width: 100vw;
    height:100vh;
    animation-name: body-fade;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    /* background-color: black; */
    background: url(../images/stars.png);
    background-position: center;
    background-size:auto;
    background-repeat: repeat;

}

/* simple gradiant for header */
.main-heading{
    background: linear-gradient(180deg, rgba(62,146,204,1) 0%, rgba(0,0,0,0) 100%);
    height:5vh;
    
}

h1{
    display: inline;
    margin: auto 0;
    padding-left: 1rem;
    line-height: 5vh;
    background: transparent;
    color: white;
    font-size: 2.5rem;
    /* letter-spacing: .5rem; */
    text-shadow: rgb(0, 0, 0) .1rem .1rem;
}

.logo-globe{
    color: #DF6C24;
    text-shadow: rgb(255, 166, 0) 0 0 .1rem;
    background: transparent;
    font-size: 3rem;
}

.top-nav{
    display: inline;
    background: transparent;
    float: right;
}
li{
    display: inline;
    background: inherit;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding: .5rem;  
}

.menu *{
    text-decoration: none;
    list-style-type: none;
    background: inherit;
    margin: 0;
    padding: 0;
    color: white;
    padding-right: 1rem;
    line-height: 5vh;

}

.menu a:hover {
    /* border-bottom:1px solid #DF6C24; */
    text-shadow: 0 0 1rem #ffffff;
    color:#DF6C24;

}

h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    width: inherit;
    text-align: center;
}



.logo-globe-spin{
    animation-name: spinny;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}


/* Simple 3d rotate on x axis of globe icon */

@keyframes spinny{
    from{
        transform: rotate3d(0, 1, 0, 0deg);
    }
    to{
        transform: rotate3d(0, 1, 0, 180deg); 
    }
}

/* fade for the entire page */

@keyframes body-fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*Animation to slide in element from off screen right*/

@keyframes slide-in-right{
    from{
        transform: translateX(-100vw);
    }
    to{
        transform:unset;
    }
}

/*Animation to slide in element from off screen left*/

@keyframes slide-in-left{
    from{
        transform: translateX(+100vw);
    }
    to{
        transform:unset;
    }
}


.mission-overview{
    animation-name: slide-in-right;
    animation-duration: 3s;
    /* animation-delay: 3s; */
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    /* border-radius: 1vw; */
    /* padding: 1vw; */
    display: inline;
    float: left;
    
    /* float: left; */
    /* margin: 1vw auto; */
    width:50%;
    height: 40vh;  
    
}

/*class to apply simple flex to align content of div*/

.flex-helper{
    height: inherit;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-items: center;
    justify-content:center;
    align-content:center;
}

.mission-overview p{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    padding-left: 5%;
    text-align: left; 
}

.mission-image-container{
    animation-name: slide-in-left;
    animation-duration: 3s;
    /* animation-delay: 3s; */
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    display: inline;
    float: right;
    width:50%;
    height: 40vh;   
}

.mission-image{
    margin: 0 auto;
    width: inherit;
    height: inherit;
    background-image: url(../images/inspire.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

/* simple page divider that clears floating */
.page-splitter{

    width: 100vw;
    height: 5vh;
    clear: both;
    /* background-color: rgba(62,146,204,.2); */

}

.founder-message{
    
    animation-name: slide-in-left;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    display: inline;
    float: right;
    width:50%;
    height: 40vh;
}

.founder-message p{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    padding-right: 5%;
    text-align: left; 
}



.founder-image-container{
    animation-name: slide-in-right;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    /* background: rgba(62,146,204,.2); */
    display: inline;
    float: left;
    width:50%;
    height: 40vh;   
}

.founder-image{
    margin: 0 auto;
    width: inherit;
    display: inline;
    float:right;
    height: 95%; 
    background-image: url(../images/founder-trans-background.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.starseed-logo{
    margin: 0 auto;
    width: inherit;
    display: inline;
    float:left;
    height: 95%; 
    background-image: url(../images/starseed2-redder.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.founder-title{
    font-style: italic;
    font-size: .8rem;
    text-align: center;
    color: rgb(255, 255, 255);
}



