/* Stylesheet for main.html which resizes based on wide,standard or compact/mobile resolutions*/

/*Import Exo 2 font from google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

/* Remove all margins - they are the enemy and must be stopped*/

*{
    margin:0;
}

 body{
    font-family: 'Exo 2', sans-serif;
    background-color: #000000;
    /*hide overflow on x axis that show up due to transfomr animations*/
    overflow-x: hidden;  
}

/* simple page divider  */
.page-splitter{
    width: 100vw;
    height: 5vh;
}

/* Class for setting primary orangey/red color*/
.font-color{
    color: #DF6C24;
}

.center-text{
    text-align: center;
}

.center-div{
    margin: 0 auto;
}

/* styling for body nav link to next relevant page*/

.link{
    font-size: inherit;
    display: inline;
    text-decoration: none;
    color: #DF6C24;
}
.link:hover{
    color: rgb(62,146,204);
}

/*class to apply simple flex to align content of div*/

.flex-helper{
    height: inherit;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-items: center;
    justify-content:center;
    align-content:center;
}

/* div than encompases entire page which alows for fade transition*/

.full-page-div{
    width: 100vw;
    height:100vh;
    animation-name: body-fade;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    background: url(../images/stars.png);
    background-position: center;
    background-size:auto;
    background-repeat: repeat;
}

/* simple gradiant for header */
.main-heading{
    background: linear-gradient(180deg, rgba(62,146,204,1) 0%, rgba(0,0,0,0) 100%);
    height:5vh;   
}

/* Container for nav elements*/
.top-nav{
    display: inline;
    background: transparent;
    float: right;
    height: 5vh;    
}

/* Rules for lower resolution mobile/tablet screens*/

@media screen and (max-width: 1000px ){

h1{
    display: inline;
    padding-left: 1rem;
    line-height: 5vh;
    /* background: transparent; */
    color: white;
    font-size: 1.5rem;
    text-shadow: rgb(0, 0, 0) .1rem .1rem;
}

.logo-globe{
    color: #DF6C24;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    background: transparent;
    font-size: 1.8rem;
}

.flex-helper{
    width: 90vw;
}

h2{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    width: inherit;
    text-align: center;
}

.mission-overview{
    animation-name: slide-in-right;
    animation-duration: 3s;
    animation-fill-mode: both;
    display: block;
    padding-left: 5vw;
    padding-right: 5vw;  
}

.mission-overview p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: left; 
}

.mission-image-container{
    animation-name: slide-in-left;
    animation-duration: 3s;
    animation-fill-mode: both;
    width:90vw;
    padding: 5vw;
    height: fit-content;   
}

.mission-image{
    margin: 0 auto;
    width: 90vw;
    height:90vw;
    background-image: url(../images/inspire_reduce_circle.webp);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    filter: drop-shadow(0 0 5vw #DF6C24);
}

.founder-message{
    
    animation-name: slide-in-left;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    display: block;
    width: 90vw;
    padding: 5vw;
}

.founder-message p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: left; 
}

.founder-image-container{
    animation-name: slide-in-right;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: both;
    display: block;
    width: 90vw;
    padding: 5vw;
    height: fit-content;   
}

.founder-image{
    width: 45vw;
    height:45vw;
    display: inline;
    float: left; 
    background-image: url(../images/found-trans-background.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0 0 1vw #ffffff);
}

.starseed-logo{
    width: 45vw;
    height: 45vw;
    display: inline;
    float: right;
    background-image: url(../images/starseed2-redder-circle.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.founder-title{
    font-style: italic;
    font-size: .5rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*Code for burger menu*/

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
  }

  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
    .menu-button-container {
      display: flex;
    }
    
    .menu {
      position: absolute;
      z-index: 200;
      top: 0;
      margin-top: 5vh;
      right: 1vw;
      flex-direction: column;
      width: 90vw;
      justify-content: center;
      align-items: center;
    }
  
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    #menu-toggle:checked ~ .menu li {
      height: 2rem;
      padding: 1rem;
      transition: height 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  
    .menu > li {
      display: flex;
      justify-content:flex-end;
      margin: 0;
      padding-right: 20vw;
      width: 100%;
      font-size: 2rem;
      text-decoration: none;
      color: #ffffff;
      background: linear-gradient(270deg, rgba(223,108,36,0) 0%, rgba(196,95,32,0.95) 5%, rgba(0,0,0,0.95) 60%, rgba(0,0,0,0) 100%);
    }
    .menu > li > a {
        color: #ffffff;
        text-decoration: none;
        padding-right: 5vw;
    }
}

@media screen and (min-width: 1000px ){

    h1{
        display: inline;
        margin: auto 0;
        padding-left: .5rem;
        line-height: 5vh;
        background: transparent;
        color: white;
        font-size: 2rem;
        text-shadow: rgb(0, 0, 0) .1rem .1rem;
    }
    
    .logo-globe{
        color: #DF6C24;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
        background: transparent;
        font-size: 2.2rem;
    }

    h2{
        color: #ffffff;
        font-size: 2rem;
        font-weight: 600;
        width: inherit;
        text-align: center;
    }

    /* Hide checkbox usesd for compact view nav burger*/
    #menu-toggle{
        display: none;
    }
    
    li{
        display: inline;
        background: inherit;
        font-size: 1rem;
        letter-spacing: .1rem;
        padding: .5rem;  
    }

    .menu *{
        text-decoration: none;
        list-style-type: none;
        background: inherit;
        margin: 0;
        padding: 0;
        color: white;
        padding-right: 1rem;
        line-height: 5vh;
    }

    .menu a:hover {
        /* border-bottom:1px solid #DF6C24; */
        text-shadow: 0 0 1rem #ffffff;
        color:#DF6C24;
    }

    .mission-overview{
        animation-name: slide-in-right;
        animation-duration: 3s;
        animation-fill-mode: both;
        display: inline;
        float: left;
        width:50%;
        height: 40vh;   
    }

    .mission-overview p{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        padding-left: 5%;
        text-align: left; 
    }
    
    .mission-image-container{
        animation-name: slide-in-left;
        animation-duration: 3s;
        animation-fill-mode: both;
        display: inline;
        float: right;
        width:50%;
        height: 40vh;   
    }
    
    .mission-image{
        margin: 0 auto;
        width: inherit;
        height: inherit;
        background-image: url(../images/inspire_reduce_circle.webp);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
        filter: drop-shadow(0 0 5vw #DF6C24);
    }
    
    .founder-message{
        
        animation-name: slide-in-left;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: both;
        display: inline;
        float: right;
        width:50%;
        height: 40vh;
    }
    
    .founder-message p{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        padding-right: 5%;
        text-align: left; 
    }
    
    .founder-image-container{
        animation-name: slide-in-right;
        animation-duration: 3s;
        animation-delay: 3s;
        animation-fill-mode: both;
        display: inline;
        float: left;
        width:50%;
        height: 40vh;   
    }
    
    .founder-image{
        margin: 0 auto;
        width: inherit;
        display: inline;
        float:right;
        height: 95%; 
        background-image: url(../images/found-trans-background.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        filter: drop-shadow(0 0 1vw #ffffff);
    }

    .starseed-logo{
        margin: 0 auto;
        width: inherit;
        display: inline;
        float:left;
        height: 95%; 
        background-image: url(../images/starseed2-redder-circle.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .founder-title{
        font-style: italic;
        font-size: .5rem;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}

@media screen and (min-width: 1400px){

    h1{
        display: inline;
        margin: auto 0;
        padding-left: .5rem;
        line-height: 5vh;
        background: transparent;
        color: white;
        font-size: 2.5rem;
        text-shadow: rgb(0, 0, 0) .1rem .1rem;
    }
    
    .logo-globe{
        color: #DF6C24;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0);
        background: transparent;
        font-size: 2.8rem;
    }

    h2{
        color: white;
        font-size: 2.2rem;
        font-weight: 600;
        width: inherit;
        text-align: center;
    }
    
    li{
        display: inline;
        background: inherit;
        font-size: 1.4rem;
        letter-spacing: .1rem;
        padding: .5rem;  
    }


    .menu *{
        text-decoration: none;
        list-style-type: none;
        background: inherit;
        margin: 0;
        padding: 0;
        color: white;
        padding-right: 1rem;
        line-height: 5vh;
    }

    .mission-overview p{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        padding-left: 5%;
        text-align: left; 
    }

    .founder-message p{
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        padding-right: 5%;
        text-align: left; 
    }

    .founder-title{
        font-style: italic;
        font-size: .5rem;
        text-align: center;
        color: rgb(255, 255, 255);
    }
}
/* Simple 3d rotate on x axis of globe icon */

.logo-globe-spin{
    animation-name: spinny;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
@keyframes spinny{
    from{
        transform: rotate3d(0, 1, 0, 0deg);
        color: rgba(223, 108, 36, 1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    }
    to{
        transform: rotate3d(0, 1, 0, 180deg);
        color: rgba(223, 108, 36, 1);
        text-shadow: 0 0 1rem rgba(0, 0, 0, 1); 
    }
}

/* fade for the entire page */

@keyframes body-fade{
    from{
        opacity: 0.01;
    }
    to{
        opacity: 1;
    }
}

/*Animation to slide in element from off screen right*/

@keyframes slide-in-right{
    from{
        transform: translateX(-100vw);
    }
    to{
        transform:unset;
    }
}

/*Animation to slide in element from off screen left*/

@keyframes slide-in-left{
    from{
        transform: translateX(+100vw);
    }
    to{
        transform:unset;
    }
}